body {
  font-family: Arial, sans-serif;
  margin: 0;
  z-index: 0; /* Colocar el contenido en la capa superior */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4; /* Controla la opacidad aquí */
  z-index: -1; /* Coloca la imagen en una capa inferior */
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

h3 {
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Header */

.header-container {
  background-color: #cc8b00;
  display: flex;
  justify-content: space-between; /* Separa los elementos a izquierda y derecha */
  padding: 0 30px; /* Opcional: un poco de espacio a los lados */
  white-space: nowrap;
}

.list-header {
  display: flex;
  list-style-type: none; /* Quitar los puntos de lista */
  width: 100%; /* Asegura que los elementos se distribuyan */
  padding: 0;
  margin: 0;
  align-items: center; /* Alinea verticalmente los elementos al centro */
}

.titulo {
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
}

.sub-titulo {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
}

.list-navigation-page {
  margin-left: 10px;
  align-items: center;
}

.list-header li:nth-child(2) {
  margin-left: auto; /* Empujar los elementos hacia la derecha */
}

/* Body */

.login-container {
  margin: auto;
}

.images-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 70vh;
  background-color: #00000042;
  padding: 0;
}

.login-container {
  justify-content: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 25vw;
  height: 70vh;
  border: solid 2px #00000056;
  border-radius: 10px;
  padding: 20px;
}

.img_login {
  margin-left: 5%;
  margin-right: 5%;
  width: 20vw;
}

/* Crear Usuario */

.section-container {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
}

.form-container {
  background-color: rgba(200, 200, 200, 0.4);
  width: 25vw;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
}

.form-container-estudiante {
  background-color: rgba(200, 200, 200, 0.4);
  width: 25vw;
  align-items: center;
  padding: 20px;
}

.image-container {
  background-color: rgba(200, 200, 200, 0.4);
  width: 25vw;
  height: 60vh;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form-group {
  list-style: none;
  margin: auto;
  padding: 0;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
}

.form-element:not(:first-child) {
  margin-top: 10px;
}

.formulario_input {
  width: 100%; /* Ajustar ancho para evitar desbordamiento */
  height: 3vh;
  padding: 0.4vh;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #000000;
  border-radius: 5px;
}

.tipo_usuario {
  width: 100%; /* Ajustar ancho para evitar desbordamiento */
  height: 4vh;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 1px;
}

.action-button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.button-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Acceder Profesor */

/* Acceder Estudiante */

.sidebar {
  position: fixed;
  top: 35px;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}

.profile-info {
  border: 4px;
  border-style: solid;
  border-color: black;
  background-color: #9e9e9e60;
}

.profile_image {
  border-bottom: 4px solid black;
}

.profile_image img {
  width: 250px;
}

.info-text {
  font-size: 30px;
  margin: 10px 2px 10px 2px;
}

.div-logros {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #9e9e9e60;
  /* height: 100%; */
  border: 4px;
  border-style: solid;
  border-color: black;
}

.logros {
  border-top: 4px solid black;
}

.activity_container_student {
  background-color: #f2f2f2;
  margin: 20px 60px 20px 300px;
  text-align: center;
  border-color: black;
  border-style: solid;
  /* border-width: 3px 4px; */
}

.game-container {
  width: 100vw;
  padding: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 300px;
  background-color: #888;
}

/* Pruebas */

.images-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 2vw;
}

.images-section-admin {
  display: flex;
  grid-gap: 30px;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 2vw;
}

.list-image-item {
  height: 330px;
  width: 320px;
  margin: auto;
}

.portfolio-card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio-image-tittle {
  font-family: "Roboto";
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.card-img {
  position: relative;
  overflow: hidden;
  width: 270px;
  display: flex;
}

.img-portfolio {
  width: 194px;
  margin: auto;
}

.portfolio-card {
  width: 300px;
  height: 320px;
  background-color: #ffffff;
  border: 1px solid #00000015;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.portfolio-card:hover .card-img .card-hover {
  top: 0;
  cursor: pointer;
}

#mensaje {
  width: 100%; /* Ajustar ancho para evitar desbordamiento */
  height: 30vh;
  margin: 0;
  border: 1px solid #000000;
  border-radius: 5px;
  resize: none;
}

#destinatario {
  width: 100%; /* Ajustar ancho para evitar desbordamiento */
  height: 4vh;
  border: 1px solid #000000;
  border-radius: 5px;
}

.form-container-mensaje {
  background-color: rgba(200, 200, 200, 0.4);
  width: 45vw;
  height: 60vh;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  margin: auto;
  margin-top: 8vw;
}

/* Creacion de Actividades */

.activity_container {
  background-color: rgba(200, 200, 200, 0.473);
  margin: 0 20vw 0 20vw;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 3px 4px;
}

.activity_section2 {
  display: flex;
  margin: 0 20vw 2vh 20vw;
  gap: 2vw;
}

.activity_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.txt_activity {
  width: 8vw;
}

#conteo,
#series {
  text-align: center;
}

.list-activity {
  margin: auto;
}

.activity-card {
  height: 300px;
  background-color: #ffffff;
  border: 1px solid #00000015;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 4vh;
}

.activity-img {
  position: relative;
  overflow: hidden;
  width: 240px;
  display: flex;
}

.img-activity {
  width: 194px;
  margin: auto;
  margin-bottom: 4vh;
}

.list-image-item {
  height: 330px;
  width: 320px;
  margin: auto;
}

.activity-description {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.activity-image-tittle {
  font-family: "Roboto";
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.activity-card:hover .activity-img .activity-hover {
  top: 0;
  cursor: pointer;
}

.activity-card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Conteo */

.section-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-count {
  display: flex;
  grid-gap: 30px;
  width: 80%;
  margin: auto;
}

.ck_respuesta_correcta {
  margin: 10px 0 10px 0;
  width: 2vw;
  height: 2vh;
}

.respuesta_correcta {
  margin: 10px 0 10px 0;
  width: 4vw;
  height: 3vh;
  padding: 0.4vh;
}

.li-txt-respuestas {
  display: flex;
  flex-direction: row;
}

.li-imagenes-series {
  display: flex;
  justify-content: center;
}

.div-imagenes-series {
  border: black 3px solid;
  background-color: #ebebeb;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  padding: 2px;
}

.div-prueba {
  display: flex;
  align-items: center;
}

#animals {
  height: 3vh;
  width: 100%;
}

.image-container-series img {
  height: 15vh;
}

.ul-conteo {
  display: flex;
  flex-direction: row;
}

.li-respuestas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_respuesta_correcta {
  margin-bottom: 20px;
}

.image-container-conteo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.image-container-conteo img {
  height: 20vh;
}

.cargar-btn-count {
  height: 3vh;
  width: 100%;
  margin: 0;
}

.content-conteo {
  display: flex;
  flex-direction: column;
  height: 25vh;
  margin: auto;
}

.conteo-generadas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.text-list-conteo {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding predeterminado de la lista */
}

.text-list-conteo li {
  margin-bottom: 5px; /* Espacio entre los campos de texto */
}

.text-list-conteo input {
  width: 6vw;
  height: 6vh;
  text-align: center;
}

.text-list-conteo input::placeholder {
  font-weight: bold;
  font-size: large;
  color: #919191;
}

.button-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Series Logicas */

.header-conteo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 15vh;
  background-color: #ffffff88;
  margin: auto;
}

.series-description {
  font-size: 25px;
  text-align: center;
}

.titulo-serie {
  margin: 40px 20px 0;
  text-align: center;
}

#serie-logica {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#serie-logica img {
  width: 180px;
  height: 180px;
  margin: 40px 10px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
}

#opciones {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#opciones img {
  width: 200px;
  height: 200px;
  margin: 0 15px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

#opciones img:hover {
  transform: scale(1.2);
}

#opciones img:hover {
  transform: scale(1.2);
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 2vw;
}

.series-container {
  display: flex;
  align-items: center;
  width: 25vw;
  height: 35vh;
  background-color: #7e7e7e31;
  margin: auto;
}

.content-series {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cargar-btn {
  margin-bottom: 10px; /* Espacio entre el botón y el primer campo de texto */
}

.text-list-series {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding predeterminado de la lista */
}

.text-list-series li {
  margin-bottom: 8px; /* Espacio entre los campos de texto */
}

.text-list-series select {
  width: 20vw;
  height: 5vh;
}

.button-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.button_guardar {
  width: 130px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 6px;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.close-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #ff3b3b;
}

#openModal {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#openModal:hover {
  background-color: #45a049;
}

/* Listado de Usuarios */

table {
  background-color: rgb(226, 226, 226);
}

table,
th,
td {
  border: 1px solid black;
  margin: auto;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e98e065d;
  text-align: center;
}

#column_id {
  width: 2vw; /* Ancho personalizado */
}

#column_nombres {
  width: 15vw; /* Ancho personalizado */
}

#column_message {
  width: 45vw; /* Ancho personalizado */
}

#column_type {
  width: 10px; /* Ancho personalizado */
}

#column_action {
  text-align: center;
  width: 20px; /* Ancho personalizado */
}

.container-table {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 30px;
  width: 80vw;
  margin: auto;
}

.btn-action {
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.btn-edit {
  background-color: #28a745;
}

.btn-delete {
  background-color: #dc3545;
}

.btn:hover {
  opacity: 0.8;
}

/* Dibujar */

.div-dibujo {
  margin: auto;
}

.container {
  display: flex;
  gap: 20px;
  margin: 80px 20px 20px 20px;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 2px solid #333;
  cursor: crosshair;
  background-color: white;
}

.color-palette {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-option {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  cursor: pointer;
}

.color-option:hover {
  transform: scale(1.1);
}

.color-palette,
.thumbnail-list {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.color-option,
.thumbnail {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.color-option {
  border-radius: 5px;
}

.image-display img {
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  margin: 10px;
}
.thumbnail-list {
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

/* Generacion */
.div-image {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.div-answer {
  margin: 0;
}

.img-generado {
  height: 20vh;
  width: auto;
  object-fit: contain;
}

.conteo-container {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 1vh;
  background-color: #7e7e7e31;
  margin-bottom: 2vh;
  border: 1px solid black;
}

.ordenar_frase {
  margin: 10px 0 10px 0;
  width: 100%;
  height: 3vh;
  padding: 0.4vh;
}

.tabla_mostrar {
  margin: auto;
  width: 80%;
}

#column-fecha {
  width: 70%;
}

.mostrar_actividad {
  margin: 10px auto 10px auto;
  width: 55%;
  height: auto;
  display: grid;
  background-color: #d3d3d3;
  border: solid 2px black;
  padding: 5px;
  justify-content: center;
}

.mostrar_actividad td {
  text-align: center;
}

.div-btn_validar {
  margin: 10px auto 10px auto;
  width: 50vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.btn_validar {
  width: 30vw;
  height: 4vh;
}

.select_series {
  margin: 10px 0 10px 0;
  width: 100%;
  height: 3vh;
  padding: 0.4vh;
}

.div_select {
  display: flex;
  align-items: center;
}

/* Aplicar cursor pointer solo a las respuestas clickeables */
.clickable-answer {
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

/* Cambiar el color de fondo al pasar el mouse */
.clickable-answer:hover {
  background-color: #cacaca; /* Color de fondo al hacer hover */
}

/* Cambiar el color de fondo al hacer clic */
.clickable-answer.clicked {
  background-color: #cc8b00; /* Color de fondo al hacer clic */
}

.relleno {
  width: 80%;
  height: 80vh;
  margin: auto;
  background-color: #007bff44;
}

.btn_enviar {
  width: 40vw;
  height: 6vh;
  margin: 30px auto 30px auto;
}

#btnAccion {
  width: 40vw;
  height: 6vh;
  margin: 40px 10px 40px 10px;
  border: 2px solid black;
}

#btnAccion:hover {
  cursor: pointer;
}
